body {
    background-color: white;
}

#rodape {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 24px;
    font-family: Arial;
}

.item-menu {
    font-family: 'Times New Roman';
    color: white;
    background-color: black;
    border: 1px solid black;
    font-size: 14px;
}

img {
    width: 300px;
    height: 300px;
}