::before,
::after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0%;
}

#menu {
    list-style: none;
    display: flex;
    background-color: rgb(45, 43, 43);
    align-items: center;
    justify-content: space-around;
    font-family: Arial;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(fundo.png);
    width: 100%;
    height: 300px;
    font-family: Arial;
}

header h1{
    color: white;
    margin: 0%;
    padding: 10px 0;
    font-size: 40px;
}

header p {
    color: white;
    margin: 0%;
    padding: 0;
    font-size: 20px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-family: Arial;
    height: 100px;
}

#home h2 {
    color: black;
    font-size: 20px;
    margin: 15px 0 0 0;
}

#home div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Arial;
    width: 50%;
}

#home div p {
    color: black;
    font-size: 14px;
    margin: 5px 0 0 0;
}

#cont-ser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 234, 234);
    font-family: Arial;
}

#conteudo h2 {
    font-size: 20px;
}

#servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(238, 234, 234);
    width: 100%;
    height: 300px;
    font-family: Arial;
}

.servico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid white;
    width: 15%;
    border-radius: 10px;
    margin: 5px;
}

.servico h3 {
    font-size: 18px;
    margin: 5px 0 5px 0;
}

.servico p {
    font-size: 14px;
    margin: 5px 10px 5px 10px;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    width: 20%;
    margin: 5px;
    font-size: 14px
}

#contato h3 {
    font-size: 18px;
    margin: 5px 0 5px 0;
}

#contato label {
    padding: 5px 0 5px 0;
    margin: 0 0 0 0px;
}

#contato select {
    margin: 5px 0 5px 3px;
}

#contato input {
    width: 80px;
    height: 12px;
    margin: 5px 0 5px 0;
}

#contato #mensagem {
    margin: 0 0 0 73px;
}

#contato textarea {
    width: 95%;
    margin: 0 0 0 3px;
}

#contato button {
    margin: 0 0 0 3px;
}